{% extends "base.html" %}
{% block title %}Headlines{% endblock %}
{% block content %}
<h1>Headlines</h1>
<form>
    <select name="publication" class="form-select" aria-label="Default select example">
        <option selected value="bbc">BBC News</option>
        <option value="cnn">CNN.com</option>
        <option value="fox">FOX News</option>
        <option value="iol">IOL</option>
    </select>
    <input type="submit" value="Submit" />
</form>
{% for article in articles %}
<b><a href="{{article.link}}">{{article.title}}</a></b><br />
<i>{{article.published}}</i><br />
<p>{{article.summary}}</p>
{% endfor %}

{% endblock %}